<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="" placeholder="username">
        <input type="email" name="email" id="" placeholder="email">
        <input type="password" name="password" id="" placeholder="password">
        <input type="password" name="password2" id="" placeholder="retype password">
        <input type="submit" value="Signup">
    </form>

    <a href="{% url 'login' %}">login</a>
</body>
</html>